################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncodeAndSign/bin/Debug
/EncodeAndSign/obj/Debug
/EncodeAndSign/packages
