################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncodeAndSign/bin/Debug
/EncodeAndSign/obj/Debug
/EncodeAndSign/packages
/Flipnote Tools Desktop
/Rewrite/bin
/Rewrite/obj
/Rewrite/Properties/PublishProfiles
/Rewrite/Untitled-1.ico
